.DS_Store

__pycache__/

# 临时文件
test*
tmp*
*.db
!test.db

*.slurm

# VASP 输入输出文件
KPOINTS
POSCAR
CONTCAR
OUTCAR

# 构型文件格式
map.in
*.vasp
*.lmp
*.xyz
*.dump
*.lammpstrj
*.cif
*.xsf

*.png
*.jpg

ISF/
ESF/
TWIN/

dpmd_raw/

fake-vasp/

# atomsk 多晶模型构建相关
*id-size.txt
*param.txt
*size-dist.txt

nep*.txt
*.npy
*.out
*.cfg
